.influencer-social-accounts__link {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  background-color: white;
  border: none !important;
  margin: 10px;
}
.influencer-social-accounts__link__youtube {
  background-color: white !important;
  border-radius: 100px !important;
  padding: .55rem 1rem !important;
  font-size: 1rem !important;
  color: white !important;
  box-shadow: none !important;
  div {
    display: none;
  }
}
.influencer-social-accounts__link__desc {
  border-bottom: 1px solid #ECECEC;
  padding: 10px;
}
.influencer-social-accounts__image {
  width: 20px;
  height: 20px;
}
.influencer-social-accounts__account__container {
  display: flex;
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid #ECECEC;
  border-bottom: 1px solid #ECECEC;
}
.influencer-social-accounts__item {
  border: 1px solid #ECECEC;
  border-radius: 8px;
  margin: 0.5rem 0;
  background-color: white;
}
.influencer-social-accounts__item__link {
  display: block;
  color: #1A2430;
  padding: 1rem 1.5rem 1.5rem;
  background-size: 11px;
  display: flex;
  align-items: center;
  text-decoration: none !important;
}
.influencer-social-accounts__item__name {
  margin: 0 10px;
  font-weight: bold;
}
.influencer-social-accounts__blog__link {
  background-color: white;
  display: inline-block;
  padding: 10px;
  margin: 10px 0;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
  outline: none !important;
  text-decoration: none !important;
  width: 100%;
}